@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');
$fontMain:'Vollkorn',
serif;
$fontSecondary:'Grape Nuts',
cursive;
//Size Text
$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;