//nesting
.botonera {
    background-color: $mainColor;
    padding: 2px 3px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 6rem;
        @media (max-width: 480px) {
            height: 3rem;
        }
    }
    h1 {
        font-size: $textMd;
        text-align: center;
        @media (max-width: 480px) {
            font-size: $textttlmq;
            text-align: left;
        }
    }
    ul {
        display: flex;
        li {
            list-style: none;
            a {
                font-size: $textSm;
                color: $secondColor;
                text-decoration: none;
                font-family: $fontMain;
                margin-left: 10px;
                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}